<body>
  <nav class="heading">
    <h3>Enter Policy Number</h3>
    <input placeholder="Please enter policy number" />
    <button class="searchButton">Search</button>
  </nav>
  <main>
    <div class="mainDiv">
      <div class="parentElement">
        <div class="componentDiv1">
          <h6>Customer Name</h6>
          <input type="text" value="Sameer Kurkure" />
        </div>
        <div class="componentDiv1">
          <h6>Policy Number</h6>
          <input type="text" value="111111111111111" />
        </div>
        <div class="componentDiv1">
          <h6>Registration Number</h6>
          <input type="text" value="Sameer Kurkure" />
        </div>
        <div class="componentDiv1">
          <h6>Make</h6>
          <input type="text" value="Sameer Kurkure" />
        </div>
        <div class="componentDiv1">
          <h6>Model</h6>
          <input type="text" value="Sameer Kurkure" />
        </div>
        <div class="componentDiv1">
          <h6>Customer Email id</h6>
          <input type="text" value="Sameer Kurkure" />
        </div>
        <div class="componentDiv1">
          <h6>Mobile Number</h6>
          <input type="text" value="Sameer Kurkure" />
        </div>
        <div class="componentDiv1">
          <h6>Customer Name</h6>
          <input type="text" value="Sameer Kurkure" />
        </div>
        <div class="componentDiv1">
          <h6>Customer Name</h6>
          <input type="text" value="Sameer Kurkure" />
        </div>
      </div>
    </div>

    <div class="mainDiv2">
      <div class="parentElement2">
        <div class="componentDiv1">
          <h6>Date of Accident/Theft</h6>
          <input type="date" />
        </div>
        <div class="componentDiv1">
          <h6>Select Type of claim</h6>
          <select name="Type of claim">
            <option value="Value1">Value1</option>
            <option value="Value1">Value1</option>
            <option value="Value1">Value1</option>
          </select>
        </div>
        <div class="componentDiv1">
          <h6>Self Survey?</h6>
          <input type="text" placeholder="Yes/No" />
        </div>
        <div class="componentDiv1">
          <h6>File Upload</h6>
          <input
            type="file"
            class="file-upload"
            onchange="console.log(event.target.files)"
          />
        </div>
        <div class="componentDiv1">
          <h6>Location of Accident - Mumbai ?</h6>
          <input type="text" placeholder="Yes/No" />
        </div>
        <div class="componentDiv1">
          <h6>Workshop Name</h6>
          <input type="text" placeholder="Please enter workshop name" />
        </div>
        <div class="componentDiv1">
          <h6>Mobile Number</h6>
          <input type="number" placeholder="Enter mobile number" />
        </div>
        <div class="componentDiv1" id="lossDetails">
            <h6>Loss Details</h6>
            <input  type="text" placeholder="Please enter loss Details" />
        </div>
        <div class="componentDiv1">
            <h6>Remarks</h6>
            <input type="text" placeholder="Please enter remarks" />
        </div>
        <div class="componentDiv1" id="declaration">
            <input type="checkbox" />
            <h5>I hereby confirm that the details provided by me are correct and I authorize SBI General Insurance to proceed further for claim process on basis of information provided by me</h5>
        </div>
        
        <div class="componentDiv1" id="declaration">
        <button>Submit</button>
        </div>
      </div>
      
    </div>
  </main>
</body>
